In [2]:
from transformers import AutoModelForSequenceClassification
from transformers import TFAutoModelForSequenceClassification
from transformers import AutoTokenizer, AutoConfig, TextClassificationPipeline
from transformers import pipeline
import snscrape.modules.twitter as sntwitter
import numpy as np
import pandas as pd
from scipy.special import softmax
import pandas as pd
import datetime
from datetime import timedelta
import matplotlib.pyplot as plt
import matplotlib.dates as md
import matplotlib
import seaborn as sns
import yfinance as yf
import csv

In [5]:
old_tweet_data = pd.read_csv("~/code/giadapi/crypto_2/data/processed_data/master_per_day_031423.csv",lineterminator='\n',index_col=0)
old_daily_data = pd.read_csv("~/code/giadapi/crypto_2/data/processed_data/master_per_tweet_120323.csv",lineterminator='\n',index_col=0)

In [24]:
old_tweet_data

,date,negative_bert,neutral_bert,positive_bert,daily_tweets,MA7_Sentiment,MA20_Sentiment,MA50_Sentiment,BTC_price,BTC_trading_volume
0,2021-01-01,0.085275,0.489181,0.425545,12561.859509,NaN,NaN,NaN,29374.152344,4.073030e+10
1,2021-01-02,0.143365,0.439075,0.417560,30124.352145,NaN,NaN,NaN,32127.267578,6.786542e+10
2,2021-01-03,0.148220,0.432023,0.419757,26167.331282,NaN,NaN,NaN,32782.023438,7.866524e+10
3,2021-01-04,0.101558,0.507526,0.390916,18041.199084,NaN,NaN,NaN,31971.914062,8.116348e+10
4,2021-01-05,0.088530,0.517456,0.394014,17473.551568,NaN,NaN,NaN,33992.429688,6.754732e+10
...,...,...,...,...,...,...,...,...,...,...
799,2023-03-11,0.118417,0.483141,0.398441,21168.432091,0.371627,0.359184,0.362839,20632.410156,3.018029e+10
800,2023-03-12,0.137051,0.479557,0.383392,18621.077853,0.372813,0.359771,0.362830,22163.949219,2.927904e+10
801,2023-03-13,0.126823,0.496415,0.376762,24769.727538,0.375752,0.360913,0.362850,24197.533203,4.946636e+10
802,2023-03-14,0.101771,0.503114,0.395115,45600.116185,0.378136,0.363325,0.363191,24746.074219,5.462223e+10
803,2023-03-15,0.123026,0.533745,0.343229,26730.282216,0.376706,0.363421,0.363277,NaN,NaN

In [32]:

for i in range(len(old_tweet_data)):
        old_tweet_data['hihihi'] = old_tweet_data['neutral_bert']
        old_tweet_data['eee'] = old_tweet_data['neutral_bert']
        old_tweet_data['rrr'] = old_tweet_data['neutral_bert']

In [37]:
old_tweet_data.insert(4, 'process_text')

TypeError: DataFrame.insert() missing 1 required positional argument: 'value'